.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFF;
  border-top: 20px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
  &__logo {
    width: 100%;
    text-align: left;
    padding: 0px 0 15px 15px;
    display: flex;
    align-items: flex-end;
    a {
      // font-family: 'Pacifico', cursive;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      font-size: 28px;
    }
  }
  &__menu {
    list-style-type: none;
    width: 100%;
    text-align: right;
    padding-right: 3rem;
    &-item {
      display: inline;
      padding: 0px 0 15px 15px;
      font-size: 19px;
      font-weight: 500;
      .nav-link {
        text-decoration: none;
        color: #000000;
        i {
          font-size: 13px;
        }
        i.link {
          transform: rotate(80deg) !important;
        }
      }
      .nav-link:hover {
        color: #FF5678;
      }
    }

  }
}
