$bp-iphone5: 320px;
$bp-iphone6: 360px;
$bp-iphone6-plus: 414px;
$bp-iphone7: 375px;
$bp-iphoneX__height: 812px;

@media (min-width: $bp-iphone5) and (max-width: $bp-iphone6-plus) {
  #app {
    .home {
      &__left {
        display: none;
      }
    }
    .nav {
      &__menu {
        padding-right: 0;
        margin-right: 5px;
        &-item {
          padding: 0;
        }
      }
    }
    .myUrls {
      height: 70vh;
      max-height: 100vh;
      background-size: 20rem;
    }
    .url {
      width: 80%;
    }
  }
}
@media (min-width: $bp-iphone5) {
}
@media (min-width: $bp-iphone6) and (min-width: $bp-iphone7) {
  #app {
    .nav {
      &__menu {
        padding-right: none;
        margin-right: 5px;
      }
    }
  }
}
@media (min-width: $bp-iphone6-plus) {
  #app {
    .nav {
      &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        a {
          display: inline-block;
        }
      }
    }
  }
}
@media (min-height: $bp-iphoneX__height) {

}
