.card {
  background-color: #ffffff;
  height: 420px;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  &__img {
    height: 100%;
  }
  &__action {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: flex-end;
    &-color {
      display: flex;
      padding: 5px;
      justify-content: center;
      max-height: 39px;
      .color {
        height: 30px;
        width: 30px;
        margin: 5px;
        border-radius: 50%;
        background-color: #cececc;
        cursor: pointer;
        transition: 0.2s;
      }
      .active-color {
        border: 2px solid #000;
      }
      .color:hover {
        border: 2px solid #000;
      }
    }
    input {
      padding: 8px;
      border: 1px solid #CCC;
      border-radius: 3px;
      color: #37474F;
      transition: 0.3s;
    }
    input:focus {
      outline: none !important;
      border:1px solid #ff5678;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
    button {
      margin-top: 0.6rem;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      padding: 8px;
      bottom: 0;
      font-size: 18px;
      background-color: #000;
      transition: 0.3s;
      color: #FFF;
      font-family: 'VT323', monospace;
    }
    button:hover {
      background-color: #ff5678;
      color: #FFF;
    }
    small {
      margin-top: 10px;
      a {
        text-align: center;
        color: #666666;
        text-decoration-style: dotted;
      }
    }
  }
}
